{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 create-feature-button">
            {% if request.user.is_authenticated %}
            <a href="{% url 'post_create' %}"><i class="fas fa-plus-circle"></i> New Bug</a> {% endif %}
        </div>
        <div class="col-xs-12">
            <h2>Current Bugs</h2>
        </div>
        

    </div>

    <p>Click <a href="{% url 'workflow' %}">here</a> to see the our developers' workflow in regards to dealing with current bugs.</p>
    <br>
</div>

{% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-xs-12">


                   <a href="{% url 'post_detail' post.id post.slug %}">
                            <h3>{{ post.title }}</h3>
                        </a>    



                        <div class="row">
                            <div class="col-xs-12">
                                <p>{{ post.content|truncatewords:30 }}</p>

                                <a href="{% url 'user_profile' post.author.id %}">
                                    <p>By {{ post.author.username }}</p>
                                </a>
                                <p><span class="boldtext">Published:</span> {{ post.published_date }} </p>
                                <hr>
                            </div>

                            
                                
                                <div class="col-md-2 col-xs-2 total-upvotes-icon" >
                                    <i class="fas fa-thumbs-up"></i> {{ post.total_upvotes }}
                                    
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <span class="boldtext">Comments:</span> {{ post.comments }}
                                </div>
                                <div class="col-md-4 col-xs-5">
                                    <span class="boldtext">Status:</span> {{ post.get_status_display }}
                                </div>
                            


                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}
