{% extends 'base.html' %} {% block content %} {% for post in posts %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-10 col-sm-9">


                        <a href="{% url 'post_detail' post.id post.slug %}"><h3>{{ post.title }}</h3></a>



                        <div class="row">
                            <div class="col-xs-9">
                                <p>{{ post.content|truncatewords:30 }}</p>

                                <p>By {{ post.author.username }}</p> 

                                
                                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>

                                <div class="col-md-3 col-sm-2">
                                    <i class="fas fa-thumbs-up"></i> {{ post.total_upvotes }}
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <span class="boldtext">Comments:</span> {{ post.comments }}
                                </div>
                                <div class="col-md-3 col-sm-2">
                                    <span class="boldtext">Status:</span> {{ post.get_status_display }}
                                </div>


                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %} {% endblock %}
