{% extends 'base.html' %} {% block content %}
{% load bootstrap %}

<div class="container create-bug-header">
    <h2>
        Wubba-lubba-bug-bug!! Create a new bug!
    </h2>

<br>

    <p>
        Please send us the information regarding your problem. It will be added to our list of things to do. Priority will be given to bugs with the most upvotes from the community. If you have a picture showing your problem please upload that too.
    </p>
</div>

<br>

<div class="container">
    
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form|bootstrap }}
            </div>
            {% if request.user.is_authenticated %}
            <button type="submit" value="Submit" class="btn-primary">Submit</button>{% else %}
            <button type="submit" value="Submit" class="btn-primary" disabled>Submit</button> {% endif %}
        </form>
    
</div>

{% endblock %}
