{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>

    </div>
    <div class="col-md-10 col-sm-9">
        {% if post.image %}
        <img class="img-blogpost" src="/media/{{ post.image }}"> {% endif %}
        <h3>{{ post.title }}</h3>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content }}</p>
                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                <p><i class="fas fa-thumbs-up"></i> {{ total_upvotes }}</p>
            </div>
        </div>
        <hr>
        <h4>Comment{{ comments|pluralize }}: {{ comments.count }}</h4>
        <hr>
        <div class="main-comment-section">
            <div class="container-fluid mt-2">
                <div class="form-group row">
                    <form method="POST">
                        {% csrf_token %} {{ comment_form.as_p }} {% if request.user.is_authenticated %}
                        <input type="submit" value="Submit" class="btn btn-outline-success"> {% else %}
                        <input type="submit" value="Submit" class="btn btn-outline-success" disabled> {% endif %}

                    </form>
                </div>
            </div>
        </div>




        {% for comment in comments %}
        <div class="comments">
            <p> {{ comment.content }}</p>
            <footer>
                <span class="boldtext">Published on:</span> {{ comment.timestamp }}
                <span class="boldtext ml-2">Author:</span> {{comment.user.username}}
                <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
            </footer>

        </div>

        <div class="replied-comments container mt-2" style="display:none;">
            <div class="form-group row">
                {% for reply in comment.replies.all %}
                <div class="reply">
                    <p class="mb-0">{{ reply.content }}</p>
                    <small><p><span class="boldtext">Published on:</span> {{ reply.timestamp }} </p>
                            <p><span class="boldtext">Author:</span> {{reply.user.username}}</p></small>

                </div>
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}"> {{ comment_form.as_p }} {% if request.user.is_authenticated %}
                    <input type="submit" value="Submit" class="btn btn-outline-success"> {% else %}
                    <input type="submit" value="Submit" class="btn btn-outline-success" disabled> {% endif %}
                </form>
            </div>
        </div>
        {% endfor %}


    </div>
</div>


<hr>

<a href="{% url 'post_list' %}" class="btn btn-default">Back To Blog</a>

</div>
</div>
{% endblock %}
