{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-2 col-sm-3 text-center avatar-box">
        <a class="story-img" href="#">
                <img src="{{feature.author.profile.photo.url}}" class="img-circle">
            </a>
        <br>
        <br>
        <div class="contribution-target-box">
            {% if feature.price %}
            <p>Target: £{{ feature.price }}</p>
            {% else %}
            <p>Target: TBA</p>
            {% endif %}
            <p>Contributions: £{{ total_contributions }}</p>
        </div>
    </div>

    <div class="col-md-10 col-sm-9">
         
    </div>

        <div class="panel-body">

            <h3>{{ feature.title }}</h3>

            <div class="row">
                <div class="col-xs-9">
                    <p>{{ feature.content }}</p>


                    <a href="{% url 'user_profile' feature.author.id %}">
                        <p>by {{ feature.author.username }}</p>
                    </a>
                    <small><div class="col-md-3 col-sm-2">
                        <i class="fas fa-thumbs-up"></i> {{ feature.total_upvotes }}
                    </div>

                    <div class="col-md-3 col-sm-2">
                        <span class="boldtext">Status:</span> {{ feature.get_status_display }}
                    </div>
                    <div class="col-md-3 col-sm-2">
                     {{ feature.published_date }}
                </div></small>
                </div>
                <div class="upvote-panel">
                    <span><form action="{% url 'contribution_amount' feature.id %}" method="POST">
                     {% csrf_token %}
                    
                    <button class="btn btn-success" type="submit" name="feature_id" value="{{ feature.id }}">Contribute</button> 
                    
                </form></span> {% if feature.image %}

                    <img class="img-blogpost" src="{{ feature.image.url }}"> {% endif %}
                </div>
            </div>

            <hr>
            <h4>Comment{{ comments|pluralize }}: {{ comments.count }}</h4>
            <hr>
            <div class="main-comment-section">
                <div class="container-fluid mt-2">
                    <div class="form-group row">
                        <form method="POST">
                            {% csrf_token %} {{ comment_form.as_p }} {% if request.user.is_authenticated %}
                            <input type="submit" value="Submit" class="btn btn-outline-success"> {% else %}
                            <input type="submit" value="Submit" class="btn btn-outline-success" disabled> {% endif %}

                        </form>
                    </div>
                </div>
            </div>
            <hr> {% for comment in comments %}
            <div class="row">
                <div class="comment-avatar-box col-sm-2">
                    <img src="{{comment.user.profile.photo.url}}" class="img-circle">
                    <p><a href="{% url 'user_profile' comment.user.id %}">{{comment.user.username}}</a></p>
                    <small>
                    <p>{{ comment.timestamp }}</p>
                    <p>Replies: {{ comment.replies.count }}</p>
                    <p><i class="fas fa-thumbs-up"></i> {{ comment.total_likes }}</p>
                </small>
                </div>
                <div class="comments">
                    <p> {{ comment.content }}</p>
                    <br>

                    <button type="button" name="button" class="reply-btn btn-success">Reply</button>
                    <span><form action="{% url 'like_feature_comment' %}" method="POST">
                    {% csrf_token %}
                    
                    {% if comment.is_liked %}
                    <button class="btn btn-danger" type="submit" name="comment_id" value="{{ comment.id }}">Unlike</button> 
                    {% else %}
                    <button class="btn btn-success" type="submit" name="comment_id" value="{{ comment.id }}">Like</button> 
                    {% endif %}
                    
                </form></span>
                </div>


            </div>

            <div class="replied-comments container" style="display:none;">

                <div class="form-group">
                    {% for reply in comment.replies.all %}
                    <hr>

                    <div class="row">
                        <div class="comment-avatar-box col-sm-2">
                            <img src="{{reply.user.profile.photo.url}}" class="img-circle">
                            <small>
                        <p><a href="{% url 'user_profile' reply.user.id %}">{{reply.user.username}}</a></p>
                        
                                <p>{{ reply.timestamp }}</p>
                            </small>
                        </div>
                        <div class="reply">
                            <p class="mb-5">{{ reply.content }}</p>

                        </div>


                    </div>
                    {% endfor %}
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}"> {{ comment_form.as_p }} {% if request.user.is_authenticated %}
                        <input type="submit" value="Submit" class="btn btn-outline-success"> {% else %}
                        <input type="submit" value="Submit" class="btn btn-outline-success" disabled> {% endif %}
                    </form>
                </div>
            </div>
            <hr> {% endfor %}



            <a href="{% url 'feature_list' %}" class="btn btn-default">Back To List</a>

        </div>




    </div>
</div>

{% endblock %}
