{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2 avatar-upvote-box">
                <div class="avatar-box">
                    <img src="{{feature.author.profile.photo.url}}" class="img-circle">
                </div>
                <br>

                <div class="upvote-panel">
                    <span><form action="{% url 'contribution_amount' feature.id %}" method="POST">
                 {% csrf_token %}
                
                <button class="btn btn-success" type="submit" name="feature_id" value="{{ feature.id }}">Contribute</button> 
                
            </form></span>
                </div>
                <br>
                <div class="contribution-target-box">
                    <div>
                        {% if feature.price %}
                        <p>Target: £{{ feature.price }}</p>
                        {% else %}
                        <p>Target: TBA</p>
                        {% endif %}
                        <p>Contributions: £{{ total_contributions }}</p>

                    </div>

                </div>
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="panel-body">


                    <h3>{{ feature.title }}</h3>
                    <a href="{% url 'user_profile' feature.author.id %}">
                        <h6>{{ feature.author.username }}</h6>
                    </a>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{ feature.content }}</p>
                            <hr>

                        </div>


                        <small><div class="col-md-3 col-xs-6">
                        <span class="boldtext">Status:</span> {{ feature.get_status_display }}
                    </div>
                    <div class="col-md-3 col-xs-6">
                     {{ feature.published_date }}
                </div> </small>

                        <hr> {% if feature.image %}
                        <hr>
                        <div class="col-xs-12 bug-detail-image">
                            <img class="img-blogpost" src="{{ feature.image.url }}">
                        </div>
                        {% endif %}

                    </div>

                    <hr>
                    <h4>Comment{{ comments|pluralize }}: {{ comments.count }}</h4>
                    <hr> {% if request.user.is_authenticated %}
                    <div class="main-comment-section">
                        <div class="container-fluid mt-2">
                            <div class="form-group row">
                                <form method="POST">
                                    {% csrf_token %} {{ comment_form.as_p }}
                                    <input type="submit" value="Submit" class="btn btn-outline-success">

                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <hr> {% for comment in comments %}
                    <div class="row">
                        <div class="comments">
                            <div class="col-xs-2 col-md-1 profile-photo-bug-detail">
                                <img src="{{comment.user.profile.photo.url}}" class="img-circle">
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <p>
                                    <a href="{% url 'user_profile' comment.user.id %}">{{comment.user.username}}</a> {{ comment.content }} <small>{{comment.timestamp }} <i class="fas fa-thumbs-up" ></i>   {{ comment.total_likes }}</small></p>

                                <small><div class="col-xs-3 ">
                        <button type="button" name="button" class="reply-btn">Reply</button>
                        </div>
                        <div class="col-xs-3">
                        <span><form action="{% url 'like_feature_comment' %}" method="POST">
                    {% csrf_token %} 
                    {% if comment.is_liked %}
                    <button type="submit" name="comment_id" value="{{ comment.id }}">Unlike</button> 
                    {% else %}
                    <button type="submit" name="comment_id" value="{{ comment.id }}">Like</button> 
                    {% endif %}
                </form></span>
                </div></small>

                            </div>
                        </div>


                    </div>

                    <div class="replied-comments">

                        <div class="form-group container-fluid">
                            {% for reply in comment.replies.all %}
                            <hr>

                            <div class="row">
                                <div class="col-xs-2 col-md-1 profile-photo-bug-detail">
                                    <img src="{{reply.user.profile.photo.url}}" class="img-circle">
                                </div>
                                <div class="col-xs-10 col-md-11">
                                    <p>
                                        <a href="{% url 'user_profile' comment.user.id %}">{{reply.user.username}}</a> {{ reply.content }} <small>{{reply.timestamp }}</small></p>
                                </div>
                            </div>
                            {% endfor %}
                            <hr>{% if request.user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}"> {{ comment_form.as_p }}
                                <input type="submit" value="Submit" class="btn btn-outline-success">

                            </form>
                            {% else %}
                            <div class="col-xs-2 col-md-1"></div>
                            <div class="col-xs-10 col-md-11">
                                <p>Please <a href="{% url 'login' %}">sign in</a> or <a href="{% url 'registration' %}">register</a> to leave a comment.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr> {% endfor %}



                    <a href="{% url 'feature_list' %}" class="btn btn-default">Back To List</a>

                </div>




            </div>
        </div>
    </div>
</div>

{% endblock %}
