{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="container">
<div class="row">

    <div class="col-xs-12">
        <div class="panel-body">
            <h3>{{ blog.title }}</h3>
            <small><span>{{ blog.author.username }} - {{ blog.published_date }} - {{blog.views}} view{{ blog.views|pluralize }}</span></small>
            <hr>
            <div class="row">
                {% if blog.image %}
                <div class="col-xs-12 col-md-6">
                    <p>{{ blog.content }}</p>
                    {% if blog.feature %}
                     <p>Have a look at the original thread<a href="{% url 'feature_detail' blog.feature.id blog.feature.slug %}"> here</a>.</p>
                     {% elif blog.bug %}
                     <p>Have a look at the original thread<a href="{% url 'post_detail' blog.bug.id blog.bug.slug %}"> here</a>.</p>
                     {% endif %}

                </div>
                <div class="col-xs-12 col-md-6 blog-post-image">
                    <img alt="Blog Post Image" src="{{ blog.image.url }}" > 
                </div>
                {% else %}
                <div class="col-xs-12">
                     <p>{{ blog.content }}</p>
                     {% if blog.feature %}
                     <p>Have a look at the original thread<a href="{% url 'feature_detail' blog.feature.id blog.feature.slug %}"> here</a>.</p>
                     {% elif blog.bug %}
                     <p>Have a look at the original thread<a href="{% url 'post_detail' blog.bug.id blog.bug.slug %}"> here</a>.</p>
                     {% endif %}
                </div>
                
                {% endif %}

        </div>

<a href="{% url 'index' %}" class="btn btn-default">Back To Homepage</a>


    </div>
</div>
    </div>
</div>
</div>

{% endblock %}
