{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<div class="page-title">
    
</div>
<div class="container">
    <h1>Welcome to Rick Will Fix It.</h1>
    
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <a href="{% url 'post_list' %}"><h2>Community Bugs</h2></a>
            <p>Rick Sanchez will try to address any issues or bugs you may 
            currently have, as long as it serves his own purposes also. Our 
            developer Meeseeks will attend to most bugs. Please search through 
            current bugs before posting a new one. Our community members can 
            upvote a particular bug. You must register before you can post a 
            new bug. Upvotes will determine time given to solving each bug.</p>
        </div>
        <div class="col-xs-12 col-md-3 index-image">
            <img src="{% static 'img/mrmeeseeks.jpeg' %}">
        </div>
    </div>
    
    
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-3 index-image">
            <img src="{% static 'img/CursePurgePlus.png' %}">
        </div>
        <div class="col-xs-12 col-md-9">
            <a href="{% url 'feature_list' %}"><h2>Feature Requests and Curse Purge Plus</h2></a>
            <p>If you would like Rick to create a new product or feature for you, you will have to pay. If you can't afford it there's a good chance our many patrons will contribute to your cause. You can submit a request for a new feature and once it has
                been priced, contributions can be made. Mr Sanchez pledges to spend 50% of his time working on the highest paid feature.</p>

            <p>Curse Purge Plus services will also be available through this system.
            
            <p> You must register an account before proposing a new feature.</p>
            </p>
        </div>
    </div>

</div>
<hr>

{% if blogs %}
<div class="container-fluid">
    <div class="container">
    <h2>Recent Updates</h2>
    </div>
    <hr>
    
{% for blog in blogs %}

<div class="blog-post container ">
    
    <div class="post-info">
        <h3 class="post-title">{{ blog.title }}</h3>
        <div class="post-meta">
            <small><span class="post-author">by {{ blog.author }} - </span>
            <span class="post-date published">{{ blog.published_date }} - {{blog.views}} view{{ blog.views|pluralize }}</span></small>
            
        </div>
            
    </div>
    
    <div class="post-content">
        <p class="post-snippet">{{ blog.content|truncatewords:50 }}</p>
        <div class="post-footer">
            <a href="{% url 'blog_detail' blog.id blog.slug %}" class="read-more">Read More</a>
        </div>
    </div>
</div>

<hr>
{% endfor %}
</div>
{% endif %}


{% endblock %}
