{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Stack - BootCamp Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle()           
                
            });
        });
    </script>
    {% block head_js %}
{% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'post_list' %}">Bug Forum</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'post_create' %}">New Post</a></li>
                    <li><a href="{% url 'feature_list' %}">Feature List</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'user_profile' request.user.id %}">Profile</a></li>
                    <li><a href="{% url 'view_cart' %}">Cart</a></li>
                    {% else %}
                    
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>

    <div id="masthead">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
{% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    
                        <!--blogpost entries-->
                        {% block content %}
                        {% endblock %}
                        <!--blogpost entries-->
 
    <footer>
        <div class="container">
            <p>Made by Code Institute bootcampers</p>
        </div>
    </footer>
</body>
</html>