{% extends 'base.html' %} {% load static from staticfiles %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %}


<div class="row row-flex">
{% for item in cart_items %}    
    <div class="col-xs-8 panel">
        <div class="panel-body">
            
            <div class="caption">
                <h3>{{ item.feature.title }}</h3>
                <p class="product-description">{{ item.feature.content }}</p>
                <p>{{ item.feature.author.username }}</p>
                <p>{{ item.feature.price }}</p>
                <p>{{ item.contribution }}</p>
            </div>
        </div>
    </div>
{% endfor %} 
<div class="col-xs-4">
    <p>Total: £<span class="glyphicon glyphicon-pound" aria-hidden="true"></span>{{ total }}</p>
    
</div>
</div>


<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="form-group col-md-6">
        {{ order_form.as_p }}
    </div>
     <div class="form-group col-md-6">
        {{ contribution_form.as_p }}
    </div>
    <div class="form-group col-md-6">
        {{ payment_form.as_p }}
    </div>

{% csrf_token %}
<div class="form-group col-md-12">
    <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
</div>
</form>

{% endblock %}