{% extends "base.html" %} {% load static from staticfiles %} {% block head_js %}
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/queue.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bugs_by_upvote.js'%}"></script>
<!--<script type="text/javascript" src="{% static 'js/workflow_stats.js' %}"></script>-->

{% endblock %} {% block content %}

<div class="container">
    <h1>Current Upvotes Per Bug</h1>
    <br>
    <p>Our developer Meeseeks give priority to bugs with the most upvotes. You can see their current workflow statistics <a href="{% url 'workflow' %}">here</a>.</p>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">Total Upvotes Per Working Bug</div>
                <div id="working-bugs-upvotes" class="chart-stage" style="font-weight: normal">
                </div>
            </div>
            <p>This bar chart displays the total upvotes currently attributed to each bug that's status is set to "working".</p>

        </div>

        <div class="col-xs-12">
            <div class="chart-wrapper">
                <div class="chart-title">Total Upvotes Per Open Bug</div>
                <div id="open-bugs-upvotes" class="chart-stage" style="font-weight: normal">
                </div>
            </div>
            <p>This bar chart displays the total upvotes currently attributed to each bug that's status is set to "open".</p>

        </div>

    </div>
</div>

{% endblock %}
