{% extends "base.html" %} {% load static from staticfiles %} {% block head_js %}

<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/queue.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/feature_contributions.js'%}"></script>

{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        	<h1>Proposed Features</h1>
        	<br>
                <div class="chart-wrapper">
                    <div class="chart-title">Prices and Contributions for Features</div>
                    <div id="open-features_contributions" class="chart-stage" style="font-weight: normal">
                    </div>
                </div>
                <p>This chart displays an open Feature's price versus the current contributions from the community.</p>

            </div>
        
    </div>
</div>

{% endblock %}
