{% extends "base.html" %} {% load static from staticfiles %} {% block head_js %}
<script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/queue.min.js'%}"></script>
<!--<script type="text/javascript" src="{% static 'js/workflow_stats.js' %}"></script>-->
<script>
    const BugWorktimeDailyApi = function() {
        this.init = function() {
            queue()
                .defer(d3.json, "/stats/api/chart/data/daily")
                .await(makeGraphs);
        };

        function makeGraphs(error, data) {
            var ndx = crossfilter(data);
            console.log(data);
            show_time_spent_per_bug_pie_chart(ndx);
            dc.renderAll();
        }

        function show_time_spent_per_bug_pie_chart(ndx) {
            var bugDimension = ndx.dimension(function(d) { return d.bug; });
            var bugGroup = bugDimension.group().reduceSum(function(d) { return d.time_spent_mins; });

            dc.pieChart("#bug-worktime")
                .height(220)
                .radius(140)
                .transitionDuration(1500)
                .dimension(bugDimension)
                .group(bugGroup)
                .label(function(d) {
                    if (d.key.length > 12)
                        return d.key.substring(0, 12) + '...';
                    else
                        return d.key;
                });
        }
    };
    const BugWorktimeWeeklyApi = function() {
        this.init = function() {
            queue()
                .defer(d3.json, "/stats/api/chart/data/weekly")
                .await(makeGraphs);
        };

        function makeGraphs(error, data) {
            var ndx = crossfilter(data);
            console.log(data);
            show_time_spent_per_bug_pie_chart_weekly(ndx);
            dc.renderAll();
        }

        function show_time_spent_per_bug_pie_chart_weekly(ndx) {
            var bugDimension = ndx.dimension(function(d) { return d.bug; });
            var bugGroup = bugDimension.group().reduceSum(function(d) { return d.time_spent_mins; });

            dc.pieChart("#bug-worktime-weekly")
                .height(220)
                .radius(140)
                .transitionDuration(1500)
                .dimension(bugDimension)
                .group(bugGroup)
                .label(function(d) {
                    if (d.key.length > 12)
                        return d.key.substring(0, 12) + '...';
                    else
                        return d.key;
                });
        }
    };
    const BugWorktimeMonthlyApi = function() {
        this.init = function() {
            queue()
                .defer(d3.json, "/stats/api/chart/data/monthly")
                .await(makeGraphs);
        };

        function makeGraphs(error, data) {
            var ndx = crossfilter(data);
            console.log(data);
            show_time_spent_per_bug_pie_chart_monthly(ndx);
            dc.renderAll();
        }

        function show_time_spent_per_bug_pie_chart_monthly(ndx) {
            var bugDimension = ndx.dimension(function(d) { return d.bug; });
            var bugGroup = bugDimension.group().reduceSum(function(d) { return d.time_spent_mins; });

            dc.pieChart("#bug-worktime-monthly")
                .height(220)
                .radius(140)
                .transitionDuration(1500)
                .dimension(bugDimension)
                .group(bugGroup)
                .label(function(d) {
                    if (d.key.length > 12)
                        return d.key.substring(0, 12) + '...';
                    else
                        return d.key;
                });
        }
    };


    const P = new BugWorktimeDailyApi;
    const Q = new BugWorktimeWeeklyApi;
    const R = new BugWorktimeMonthlyApi;

    P.init();
    Q.init();
    R.init();
</script>
{% endblock %} {% block content %}

<div class="container">
    <h1>Developer Meeseeks Workflow</h1>
    <br>
    <p>Priority is given to bugs with the most upvotes. The status of a 
    bug will change from open to working depending on its popularity or urgency.
    You can check the popularity of current bugs <a href="{% url 'bug_upvotes' %}">here</a>.</p>
    <br>
    <div class="row">

        <div class=" col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Yesterday's Bug Fixes</div>
                <div id="bug-worktime" class="chart-stage" style="font-weight: normal"></div>


                <p>This chart displays the share of time in minutes spent fixing each bug, yesterday.</p>
            </div>
        </div>
        <div class=" col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Weekly Bug Fixes</div>
                <div id="bug-worktime-weekly" class="chart-stage" style="font-weight: normal"></div>


                <p>This chart displays the share of time in minutes spent fixing each bug in the 7 days.</p>
            </div>
        </div>

        <div class=" col-xs-12 col-lg-4">
            <div class="chart-wrapper">
                <div class="chart-title">Monthly Bug Fixes</div>
                <div id="bug-worktime-monthly" class="chart-stage" style="font-weight: normal"></div>


                <p>This chart displays the share of time in minutes spent fixing each bug in the past 31 days.</p>
            </div>
        </div>



    </div>
</div>

{% endblock %}
